@page "/CreateUser"
@using HttpClients.ClientInterfaces
@using global::Shared.Dtos
@inject IUserService UserService

<link href="css/Login.css" rel="stylesheet"/>

<div class="container-pages">
<h3 class="page-header" style="text-align: center">Opret konto</h3>

<div class="form">
    <div class="container">
        <label>
            <b>Brugernavn</b>
        </label><br/>
        <input type="text" placeholder="Enter Username" @bind="_username" @bind:event="oninput"/><br/>

        <label>
            <b>Kodeord</b>
        </label><br/>
        <input type="password" placeholder="Enter Password" @bind="_password" @bind:event="oninput"/><br/>

        <label>
            <b>Email</b>
        </label><br/>
        <input type="text" placeholder="Enter Email" @bind="_email" @bind:event="oninput"/><br/>
        
        <label>
            <b>Rolle</b>
        </label><br/>
                <select class="form-control" @bind="@_role" style="width: 200px; ">
                    <option disabled selected value> -- Vælg en rolle -- </option>
                    @foreach (var r in _roles)
                    {
                        <option value="@r"> @r </option>
                    }
                </select>
        
        
        <input type="checkbox" @bind="_checkbox" @bind:event="oninput"/> <span class="checkboxmsg">Do you agree to sell us your soul and your first born child?</span><br/>
        @if (!string.IsNullOrEmpty(_resultMsg))
        {
            <label style="color: @_color">@_resultMsg</label>
        }

    </div>
    <div class="button-container">
        <button class="confirm"
            disabled="@(string.IsNullOrEmpty(_username) || string.IsNullOrEmpty(_password) || string.IsNullOrEmpty(_email) || !_checkbox)"
            @onclick="Create">
            Opret
        </button>
    </div>
</div>
</div>

@code {
    private string _username = "";
    private string _password = "";
    private string _email = "";
    private string _role = "";
    private string _resultMsg = "";
    private string _color = "";
    private bool _checkbox = false;
    List<string> _roles = new List<string>()
    {
        "User",
        "Company",
        "Owner"
    };
    

    private async Task Create()
    {
        _resultMsg = "";

        try
        {
            await UserService.Create(new UserCreationDto(_username, _password, _email, _role));
            _username = "";
            _password = "";
            _email = "";
            _resultMsg = "User created!";
            _color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _resultMsg = e.Message;
            _color = "red";
        }
    }

}