@page "/Events"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@using global::Shared.Dtos
@using Syncfusion.Blazor.Buttons
@inject IEventService EventService
@inject IAuthService AuthService


<div class="container-pages">

    <h3 class="page-header" style="text-align: center">Begivenheder</h3>

    @* Filtrering dropdowns *@
    <div style="text-align: center; justify-content: center;">
        <select class="form-control" @bind="@_category" style="width: 200px; float: left; margin: 2px; position: center !important;">
            <option disabled selected value> -- Vælg en kategori -- </option>
            <option value="">Vælg alle kategorier</option>
            @foreach (var c in _categories)
            {
                <option value="@c"> @c </option>
            }
        </select>

        <select class="form-control-events" @bind="@_area" style="width: 200px; float: left; margin: 2px; position: center !important;">
            <option disabled selected value> -- Vælg et område -- </option>
            <option value="">Vælg alle områder</option>
            @foreach (var a in _areas)
            {
                <option value="@a"> @a </option>
            }
        </select>
        <div style="margin: 2px; float: left;">
            <button class="btn btn-light" @onclick="Filter">Filtrer</button>
        </div>
    </div>
    <br/>
    <br/>
    <br/>


    @* Indlæsning af siden og tjek efter begivenheder  *@
    @if (_events == null)
    {
        <p>Indlæser...</p>
    }
    else if (!_events.Any())
    {
        <p>Ingen begivenheder at finde</p>
    }
    
    @* Begivenheder cards *@
    else
    {
        <div style="text-align: center; align-content: center; display: flex; flex-direction: column-reverse;">

            @foreach (Event item in _events)
            {
                <div >
                    @* Topbillede på begivenheds-card, som viser tilpasset billede til kategorien  *@
                    <div class="card-events">

                        @if (item.Category.Equals("Motion"))
                        {
                            <div class="boxes" style="background-image: url('img/excercise.jpg'); height: 100px">

                            </div>
                        }

                        @if (item.Category.Equals("Klima"))
                        {
                            <div class="boxes" style="background-image: url('img/climate.jpg'); height: 100px">

                            </div>
                        }

                        @if (item.Category.Equals("Spil"))
                        {
                            <div class="boxes" style="background-image: url('img/boardgames.jpg'); height: 100px">

                            </div>
                        }

                        @* Begivenhedsinformationer  *@
                        <div class="boxes" style="padding-bottom: 0px">
                            <label class="card-title">@item.Title</label>
                        </div>
                        <div class="boxes" style="padding-top: 0px">
                            Afholdes af
                            <label class="card-creater">
                                <b>@item.Owner.Username</b>
                            </label>
                        </div>
                        <br/>
                        <br/>

                        <div class="boxes">
                            <b>Beskrivelse:</b>
                            <div class="card-description" id="Description">
                                @item.Description
                            </div>

                            @* Tilmeldingsknappen vises kun hvis man er registreret som "User" i systemet*@
                            <AuthorizeView Policy="User">
                                <div class="button-container">
                                    <button class="btn btn-outline-dark"
                                            @onclick="@(() => RegisterAttendee(item.Id))" disabled="@Disabled(item.Id)">
                                        @GetButtonText(item.Id)
                                    </button>
                                </div>
                            </AuthorizeView>
                            <br/>

                            <div style="display: flex; align-items: flex-start ">
                                <div class="boxes">
                                    <b>Kategori:</b>
                                    <br/>
                                    <label class="card-category">@item.Category</label>
                                </div>

                                <div class="boxes">
                                    <b>Område og lokation:</b>
                                    <label class="card-area">@item.Area, @item.Location</label>
                                </div>

                                <div class="boxes">
                                    <b>Dato og tid:</b>
                                    <label class="card-datetime">@item.DateTime</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <br/>
            }
        </div>
    }
</div>

@code {
    private ICollection<Event>? _events;
    private int _userId;
    private string _category;
    private string _area;
    private string _backgroundImage = null;
    private string _role;

    private List<string> _categories = new List<string>()
    {
        "Motion",
        "Klima",
        "Spil"
    };

    private List<string> _areas = new List<string>()
    {
        "Sjælland",
        "Jylland",
        "Fyn",
        "Bornholm",
        "Færøerne",
        "Grønland"
    };


    protected override async Task OnInitializedAsync()
    {
        try
        {
            ClaimsPrincipal claimsPrincipal = await AuthService.GetAuthAsync();

            foreach (var claim in claimsPrincipal.Claims)
            {
                if (claim.Type.Equals("UserId"))
                {
                    _userId = Int32.Parse(claim.Value);
                }
            }

            _events = await EventService.GetEvents(new CriteriaDto());
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private async Task RegisterAttendee(int eventId)
    {
        var userId = _userId;
        Event eventRegisteredTo = await EventService.RegisterAttendeeAsync(userId, eventId);
        foreach (Event e in _events)
        {
            if (e.Id == eventId)
            {
                e.Attendees = eventRegisteredTo.Attendees;
            }
        }
    }

    private bool Disabled(int eventId)
    {
        Event eventToReturn = null!;

        foreach (Event e in _events!)
        {
            if (e.Id == eventId)
            {
                eventToReturn = e;
            }
        }

        foreach (User u in eventToReturn.Attendees)
        {
            if (_userId == u.Id)
                return true;
        }
        return false;
    }

    private string GetButtonText(int eventId)
    {
        if (Disabled(eventId))
        {
            return "Tilmeldt";
        }
        else
        {
            return "Tilmeld Begivenhed";
        }
    }

    private async Task Filter()
    {
        if (_category != null || _area != null)
        {
            _events = await EventService.GetEvents(new CriteriaDto(0, _category, _area));
        }
    }

}