@page "/Events"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@using HttpClients.Implementations
@using System.Diagnostics.Tracing
@inject IEventService EventService
@inject IUserService UserService

<h3 style="text-align: center">Events</h3>

@if (events == null)
{
    <p>Loading...</p>
}
else if (!events.Any())
{
    <p>No Events available</p>
}
else
{
    @foreach (Event item in events)
    {
        <div class="card">
            <div class="boxes">
                <b>Title:</b>
                    <label>@item.Title</label>
            </div>
             
        <div class="boxes">
            <b>Owner:</b>
            <label>@item.Owner.Username</label>
        </div>
        
            <div class="boxes">
                <b>Location:</b>
                <label>@item.Location</label>
            </div>

            <div class="boxes">
                <b>Date and time:</b>
                <label>@item.DateTime</label>
            </div>
                
            <div class="boxes">
                <b>Description:</b>
                <div id="Description">
                    @item.Description
                </div>
                
                <AuthorizeView>
                    <div class="button-container">
                        <button class="confirm"
                                @onclick="@(() => RegisterAttendee(item.Id))"  disabled="@(()=>Disabled(item.Id))">
                            Tilmeld begivenhed
                        </button>
                    </div>
                    <div>
                        @if (!string.IsNullOrEmpty(msg))
                        {
                            <label style="color: green">@msg</label>
                        }
                    </div>
                </AuthorizeView>
            </div>
            </div>
        <br/>
                                
    }

}


@code {
    private ICollection<Event>? events;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            events = await EventService.GetEvents();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
        
    }

    private async Task RegisterAttendee(int eventId)
    {
        var userId = await UserService.getUserId(JwtAuthService.Username);
        await EventService.RegisterAttendeeAsync(userId, eventId);
        msg = "Tilmeldt!";
    }


    private async Task<bool> Disabled(int eventId)
    {

        ICollection<Event> list = await EventService.GetEvents();
        Event eventToReturn = null;
        var userId = await UserService.getUserId(JwtAuthService.Username);

        foreach (Event e in list)
        {
            if (e.Id == eventId)
            {
                eventToReturn = e;
            }
        }

        foreach (User u in eventToReturn.Attendees)
        {
            if (u.Id == userId)
            {
                return true;
            }
        }
        return false;
    }
}