@page "/MyEvents"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@using HttpClients.Implementations
@using global::Shared.Dtos
@inject IEventService EventService
@inject IUserService UserService

<h3 style="text-align: center"><b>Mine begivenheder</b></h3>

@if (_events == null)
{
    <p>Indlæser...</p>
}
else if (!_events.Any())
{
    <p>Ingen begivenheder at finde</p>
}
else
{
    @foreach (Event item in _events)
    {
        <div class="card">
            <div class="boxes">
                <b>Titel:</b>
                    <label>@item.Title</label>
            </div>
             
        <div class="boxes">
            <b>Ejer:</b>
            <label>@item.Owner.Username</label>
        </div>
        
            <div class="boxes">
                <b>Lokation:</b>
                <label>@item.Location</label>
            </div>

            <div class="boxes">
                <b>Dato og tid:</b>
                <label>@item.DateTime</label>
            </div>
                
            <div class="boxes">
                <b>Beskrivelse:</b>
                <div id="Description">
                    @item.Description
                </div>
                
                <AuthorizeView>
                    <div class="button-container">
                        <button class="confirm"
                                @onclick="@(() => CancelEvent(item.Id))">
                            Aflys begivenhed
                        </button>
                    </div>
                </AuthorizeView>
            </div>
            </div>
        <br/>
                                
    }

}


@code {
    private ICollection<Event>? _events;
    private int _userId;
    private string? _msg;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            /*ClaimsPrincipal claimsPrincipal = await AuthService.GetAuthAsync();

            foreach (var claim in claimsPrincipal.Claims)
            {
                if (claim.Type.Equals("UserId"))
                {
                    userId = Int32.Parse(claim.Value);
                }
            }*/
            _userId = await UserService.GetUserId(JwtAuthService.Username!);
            _events = await EventService.GetEvents(new CriteriaDto
            {
                OwnerId = _userId
            });
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            _msg = e.Message;
        }
        
    }

    //knappen disables når du trykker men med et delay, og i dette delay kan du trykke på knappen flere gange hvis du er hurtig.
    private async Task CancelEvent(int eventId)
    {
        var userId = this._userId;
        await EventService.CancelAsync(eventId);
        _events = await EventService.GetEvents(new CriteriaDto()
        {
            OwnerId = userId
        });
    }
    
    // Jeg har fixet at knapperne bliver disabled/enabled alt efter om du er tilmeldt eller ikke.
    
    //2 ting som ikke virker men nu er kl 23:51 og jeg er træt...
    //Der står med grøn skrift "Tilmeldt!" på alle eventsne når man trykker på en tilmend knap.
    //Den opdatere ikke i realtime, så når du har trykket tilmeld disabler den først knappen når du har reloadet siden, det skal også kigges på.
    
}